
.form-control{
    margin: 2px;
    border-radius: 3px;
    border: solid 1px;
}


#form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-end
}

#btn-voltar{
    position: fixed;
    bottom: 20px;
    width: 70px;
    right: 10px;
    height: auto;
    border-radius: 50%;
    box-shadow: 2px 1px 6px 2px gray;
}

#btn-voltar:hover{
    box-shadow: 2px 1px 6px 2px red;

    background-color: red;
}
